appdirs==1.4.2
decorator==4.0.11
Django==1.10.5
django-rest-swagger==0.3.10
djangorestframework==3.5.4
ipython==4.2.1
ipython-genutils==0.1.0
packaging==16.8
path.py==10.1
pexpect==4.2.1
pickleshare==0.7.4
ptyprocess==0.5.1
pyparsing==2.1.10
PyYAML==3.12
simplegeneric==0.8.1
six==1.10.0
tenv==0.1.0
traitlets==4.3.2
